# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../../../../:\Users\subin\AppData\Local\Temp\Temp1_3rd semester-20200921T115510Z-001 (1).zip\3rd semester\Object Oriented Concepts\coursework\OOAD\oop\Course Management System'S\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
